# Flutter/Dart App
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id
*.dart.js
*.info.json

# Android Studio artifacts
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/